<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


<h2>Reviews (<%= @restaurant.reviews.count %>)</h2>
<%= link_to 'Add New Review', new_restaurant_review_path(@restaurant) %>

<% @restaurant.reviews.each do |review| %>
  <div><%= review.content %>: <%= review.rating %>/5</div>
<% end %>
